.main {
  width: 980px;
  height: 455px;
  margin-left: 220px;
  margin-top: 10px;
}

.focus {
  float: left;
  width: 721px;
  height: 455px;
  background-color: blue;
}

.newsflash {
  float: right;
  width: 250px;
  height: 455px;
}

.news {
  height: 165px;
  background-color: pink;
  border: 1px solid #e4e4e4;
}

.news-hd {
  height: 33px;
  line-height: 33px;
  border-bottom: 1px dotted #e4e4e4;
  padding: 0 15px;
}

.news-hd h5 {
  float: left;
  font-size: 14px;
}

.news-hd .more {
  float: right;
}

.news-hd .more::after {
  content: "\e920";
  font-family: "icomoon", serif;
  vertical-align: middle;
}

.news-bd {
  padding: 5px 15px 0;
}

.news-bd ul li {
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.lifeservice {
  overflow: hidden;
  height: 209px;
  border: 1px solid #e4e4e4;
  border-top: 0;
}

.lifeservice ul {
  width: 252px;
}

.lifeservice ul li {
  width: 63px;
  height: 71px;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  float: left;
  text-align: center;

}

.lifeservice ul li i {
  display: inline-block;
  width: 24px;
  height: 28px;
  background: url("../images/icons.png") no-repeat -19px -15px;
  margin-top: 12px;
}

.bargain {
  margin-top: 5px;
}

.recommend {
  height: 163px;
  margin-top: 12px;
  background-color: #ebebeb;
}

.recommend-hd {
  padding-top: 30px;
  text-align: center;
  float: left;
  height: 163px;
  width: 205px;
  background-color: #5c5251;
}

.recommend-bd {
  float: left;
}

.recommend-bd ul li {
  float: left;
  position: relative;
}

.recommend-bd ul li img {
  width: 245px;
  height: 163px;
}

.recommend-bd ul li:nth-child(-n+3)::after {
  position: absolute;
  content: "";
  right: 0;
  top: 10px;
  width: 1px;
  height: 145px;
  background-color: #ddd;
}

.box-hd {
  margin-top: 20px;
  height: 30px;
  border-bottom: 2px solid red;
}

.box-hd h3 {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  float: left;
  color: #c81623;
}

.tab_list {
  float: right;
  line-height: 30px;
}

.tab_list ul li {
  float: left;
}

.tab_list ul li a {
  margin-right: 20px;
}

.box-bd {
  height: 361px;
}

.tab_list_item1 > div {
  height: 361px;
  float: left;
}

.col_210 {
  width: 210px;
  text-align: center;
}

.col_210 ul li {
  float: left;
  width: 85px;
  height: 34px;
  line-height: 34px;
  border-bottom: 1px solid #ccc;
  margin: 5px;
}

.col_329 {
  width: 329px;
}

.col_221 {
  width: 221px;
  border-right: 1px solid #ccc;
}

.col_219 {
  width: 219px;
}

/*一般情况下 a包含有宽度的元素 把a转换成块级元素保险*/
.bb {
  display: block;
  border-bottom: 1px solid #ccc;
}
