.sk {
  position: absolute;
  left: 190px;
  top: 40px;
  border-left: 4px solid #c81623;
  padding-left: 10px;
}

.sk_list {
  float: left;
}

.sk_list ul li {
  float: left;
}

.sk_list ul li a {
  line-height: 45px;
  display: block;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

.sk_con {
  float: left;
}

.sk_con ul li {
  float: left;
}

.sk_con ul li a {
  line-height: 45px;
  display: block;
  padding: 0 20px;
  font-size: 14px;
}

.sk_c on ul li:last-child a::after {
  content: "\e9e1";
  font-family: 'icomoon', serif;
}

.sk_bd ul li {
  margin-right: 13px;
  float: left;
  overflow: hidden;
  width: 290px;
  height: 460px;
  border: 1px solid transparent;
}

.sk_bd ul li:nth-child(4n) {
  margin-right: 0;
}

.sk_bd ul li:hover {
  border: 1px solid #c81623;
}
